- label_class = "block text-sm font-medium text-gray-700"
- field_class = "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"

= render "devise/shared/sign_form_layout" do
  %h2.text-center.text-2xl.pb-5 Forgot your password?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .pb-5
      = f.label :email, class: label_class
      = f.email_field :email, autofocus: true, autocomplete: "email", class: field_class
    .pb-5
      = f.submit "Send me reset password instructions", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
