= form_with(model: music, class: "contents") do |form|
  - if music.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(music.errors.count, "error")
        prohibited this resource from being saved:
      %ul
        - music.errors.each do |error|
          %li= error.full_message
  .mb-5
    = form.label :title
    = form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"

  .mb-5
    = form.radio_button :user_id, current_user.id
    = form.label :user, "user"
    = form.radio_button :user_id, nil
    = form.label :public, "public"

  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"