%p#notice= notice

%p
  %b User:
  = @music.user
%p
  %b Band:
  = @music.band
%p
  %b Title:
  = @music.title
%p
  %b Bookmarks count:
  = @music.bookmarks_count


= link_to "Score", score_path(@music)
|
= link_to "Score Edit", score_path(@music)
|
= link_to 'Edit', edit_music_path(@music)
|
= link_to 'Back', musics_path
