%p#notice= notice

- user = @music.user
- band = @music.band

.flex.items-center.text-3xl
  %i.fas.fa-music.text-xl.text-slate-400.mr-4
  %h2
    - if user
      = link_to user&.nickname, user_path(user)
      %span /
    - elsif band
      = link_to band.title, band_path(band)
      %span /
  -#
    - else
      = link_to @music.composer, artist_path(@music.composer.id) do
      %span /
  %h1 
    = @music.title


%table.table-auto.w-full.bg-white
  %tbody
    = render "layouts/shared/tr" do
      %th.text-center.text-slate-300.w-20
        %i.fas.fa-users.fa-lg
      %td Band
      %td
        = @music.band
      %td.text-slate-300
        %i.fas.fa-edit
    = render "layouts/shared/tr" do
      %th.text-center.text-slate-300.w-20
        %i.fas.fa-user-md.fa-lg
      %td Composer
      %td
        -# = @music.composer
      %td.text-slate-300
        %i.fas.fa-edit
    = render "layouts/shared/tr" do
      %th.text-center.text-slate-300.w-20
        %i.fas.fa-user-md.fa-lg
      %td Lyrist
      %td
        -# = @music.lyrist
      %td.text-slate-300
        %i.fas.fa-edit
    = render "layouts/shared/tr" do
      %th.text-center.text-slate-300.w-20
        %i.fas.fa-user-md.fa-lg
      %td Arranger
      %td
        -# = @music.arranger
      %td.text-slate-300
        %i.fas.fa-edit

= render "footer", music: @music
