
.flex.items-center
  %i.fas.fa-music.text-xl.text-slate-400.mr-4
  %h1.text-3xl
    = @music.title

%p#notice= notice


%p
  %b User:
  = @music.user
%p
  %b Band:
  = @music.band
%p
  %b Title:

= render "footer", music: @music