- svg_use_tag_class = "w-6 h-6"
%header.relative.bg-white.border-b-2.border-gray-100
	.max-w-7xl.mx-auto.px-4.sm:px-6
		.flex.justify-between.items-center.py-4.md:justify-start.md:space-x-10
			=link_to "tunescore", root_path, class: "text-3xl"
			.hidden.md:flex.items-center.justify-end.md:flex-1.lg:w-0
				- if user_signed_in?
					= svg_use_tag "plus", class: [svg_use_tag_class, "text-white bg-indigo-600 hover:bg-indigo-700 rounded-md"]
					= svg_use_tag "bell", class: [svg_use_tag_class, "text-gray-500 hover:text-gray-900"]
					= svg_use_tag "user-circle", class: [svg_use_tag_class, "text-gray-500 hover:text-gray-900"]
					= link_to settings_path, class: "ml-8" do
						= svg_use_tag "cog", class: [svg_use_tag_class, "text-gray-500 hover:text-gray-900"]
					= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete}, class: "whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"
				- else
					= link_to "Sign in", user_session_path, class: "whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900"
					= link_to "Sign up", new_user_registration_path, class: "ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
