:ruby
	def base_svg_use_tag name, **attributes
		svg_use_tag name, **attributes, class: ["w-6 h-6", attributes[:class]]
	end
	def header_svg_use_tag name, **attributes
		base_svg_use_tag name, **attributes, class: ["text-gray-500 hover:text-gray-900 ml-8", attributes[:class]]
	end
	plus_dropdown = [
		["#", "music-note", "Music"], 
		[new_album_path, "folder", "Album"], 
		[new_artist_path, "user", "Artist"], 
		[new_band_path, "user-group", "Band"]
	]

- plus_icon = capture do
	= base_svg_use_tag "plus", class: "bg-indigo-600 hover:bg-indigo-700 text-white rounded-md"
- user_icon = capture do
	= header_svg_use_tag "user-circle"
- bell_icon = capture do
	= header_svg_use_tag "bell"

- plus_lists = capture do
	- plus_dropdown.each do |path, icon, text|
		= link_to path do
			= render "layouts/shared/dropdown_list" do
				= base_svg_use_tag icon
				= text
- user_lists = capture do
	= link_to settings_path do
		= render "layouts/shared/dropdown_list" do
			= base_svg_use_tag "cog"
			Setting
	= link_to destroy_user_session_path, data: { turbo_method: :delete } do
		= render "layouts/shared/dropdown_list" do
			= base_svg_use_tag "logout"
			Logout

:ruby
	dropdowns = [
		[plus_icon, plus_lists],
		[user_icon, user_lists],
		[bell_icon, user_lists]
	]

%header.relative.bg-white.border-b-2.border-gray-100
	.max-w-7xl.mx-auto.px-4.sm:px-6
		.flex.justify-between.items-center.py-4.md:justify-start.md:space-x-10
			= link_to "tunescore", root_path, class: "text-3xl"
			.hidden.md:flex.items-center.justify-end.md:flex-1.lg:w-0
				- if user_signed_in?
					- dropdowns.each do |icon, lists|
						= render "layouts/shared/dropdown", icon: icon, lists: lists
				- else
					= link_to "Sign in", user_session_path, class: "text-gray-500 hover:text-gray-900"
					= link_to "Sign up", new_user_registration_path, class: "bg-indigo-600 hover:bg-indigo-700 ml-8 inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-white"
