:ruby
	def base_svg_use_tag name, **attributes
		svg_use_tag name, **attributes, class: ["w-6 h-6", attributes[:class]]
	end
	def header_svg_use_tag name, **attributes
		base_svg_use_tag name, **attributes, class: ["text-slate-300 hover:text-slate-500 ml-8", attributes[:class]]
	end
	add_lists = [
		{ text: "Music", icon: "fa-music", path: new_music_path },
		{ text: "Album", icon: "fa-record-vinyl", path: new_album_path },
		{ text: "Artist", icon: "fa-user-md", path: new_artist_path }, 
		{ text: "Band", icon: "fa-users", path: new_band_path }
	]
	user_lists = [
		{ text: "Settings", icon: "fa-cog", path: settings_path },
		{ text: "Sign Out", icon: "fa-sign-out-alt", path: destroy_user_session_path, link_options: { data: { turbo_method: :delete } }, dropdown_list_css_class: "border-t-2 border-gray-100"}
	]


%header.relative.bg-white.border-b-2.border-gray-100
	.max-w-7xl.mx-auto.px-4.sm:px-6
		.flex.justify-between.items-center.py-4.md:justify-start.md:space-x-10
			= link_to "tunescore", root_path, class: "text-3xl"

			.hidden.md:flex.items-center.justify-end.md:flex-1.lg:w-0
				- if user_signed_in?
					= render HeaderDropdownComponent.new(dropdown_lists: add_lists) do |c|
						- c.with_icon do
							= base_svg_use_tag "plus", class: "bg-cyan-300 hover:bg-cyan-500 text-white rounded-md"
						:ruby
							c.with_dropdown_lists(add_lists)

					= render HeaderDropdownComponent.new(dropdown_lists: add_lists) do |c|
						- c.with_icon do
							= base_svg_use_tag "bell", class: "text-slate-300 hover:text-slate-500 ml-8"
						:ruby
							c.with_dropdown_lists([])

					= render HeaderDropdownComponent.new(dropdown_lists: add_lists) do |c|
						- c.with_icon do
							= base_svg_use_tag "user-circle", class: "text-slate-300 hover:text-slate-500 ml-8"
						:ruby
							c.with_dropdown_lists(user_lists)

				- else
					= link_to "Sign in", user_session_path, class: "text-slate-300 hover:text-slate-500"
					= link_to "Sign up", new_user_registration_path, class: "bg-cyan-300 hover:bg-cyan-500 ml-8 inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-white"
