!!!
%html.h-full.bg-gray-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Myapp
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %script{:src => "https://kit.fontawesome.com/2ea26090f3.js", :crossorigin => "anonymous"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = include_gon
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    = yield
